@{
    ViewBag.Title = "Про проєкт";
}

@section scripts{
    @Styles.Render("~/Content/about.css")
}

@section head{
    <div id="head">
        <div id="logo">
            <text>
                <script>window.location.href</script>
            </text>
        </div>
        <div id="right_side">
            <div id="search_wrap">
                <div id="search">
                    <form id="search_form">
                        <input type="text" name="search" id="search_inp" placeholder="Поиск по сайту" /><button type="submit" id="search_sbm"></button>
                    </form>
                </div>
            </div>
            <div id="all_prepods">
                <a href="@Url.Action("PrepodsList")" class="button blue">Список викладачів</a>
                @if (User.IsInRole("admin"))
                {
                    <a href="/NewTeacher/" class="button green">Додати викладача (+)</a>
                }
                @if (User.Identity.IsAuthenticated == false)
                {
                    <a href="/Welcome/" class="button green">Авторизуватися</a>
                }
            </div>
        </div>
    </div>
}

@section body{

    <div id="aboutProj">
        <h1>@ViewBag.Title</h1>
        @if(User.Identity.IsAuthenticated) {<div id="ttl_side_links"><a href="/">Моя сторінка</a></div>}
    </div>
    <div id="textContainer">
        Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantiu
        m doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis 
        et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia volupt
        as sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem seq
        ui nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci veli
        t, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem. U
        t enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea c
        ommodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molest
        iae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur? At vero eos et accusamu
        s et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos 
        dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui
         officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et exp
        edita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo min
        us id, quod maxime placeat, facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam
         et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae. Ita
        que earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperi
        ores repellat.
    </div>
}

@section footer
{
    <div id="copyright">
        © 2014 - @DateTime.Now.Year еНауковаДекларація
        <br />
        Сайт розроблений <a href="http://sadlogic.com">Sadlogic Inc.</a>, <a href="http://silv.pp.ua">Bogdan De George</a>
    </div>
    <div id="f_links">
        <a href="/About/">Про проєкт</a>
    </div>
}
