#manage_ttl {
    background: url(../Images/border.png) repeat-x left bottom;
    margin-top: 20px;
    padding-bottom: 10px;
    color: #777;
    position: relative;
}

#manage_ttl h1 {
    font-size: 15pt;
}

#manage_ttl h2 {
    font-size: 11pt;
    margin-top: 6px;
    max-width: 600px;
}

#ttl_side_links {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-bottom: 10px;
    font-size: 14px;
 }

#manage_wrap {
    padding: 10px 0;
}

#manage_wrap .settingsItem .button {
    padding: 6px 18px;
}

#changePassWrap,#changeEmailWrap {
    margin: auto;
    margin-top: 6px;
}

#changePassWrap a,#changeEmailWrap a {
    margin-left: 0;margin-top: 4px;margin-bottom: 0;
}

#changePassWrap label,#changeEmailWrap label {
    color: #555;
    padding: 5px 15px 3px 0;
    width: 170px;
    text-align: right;
    float: left;
    font-size: 13px;
}

#changePassWrap input,#changeEmailWrap input{
    width: 220px;
    height: 24px;
    border: 1px solid #ccc;
    outline: none;
    padding: 2px;
    padding-left: 6px;
    font-size: 11pt;
    background: #fff;
}

.errorCont {
    background: none repeat scroll 0 0 #ffefe8;
    border: 1px solid #e89b88;
    margin-top: 8px;
    margin-bottom: 15px;
    padding: 2px;
    line-height: 160%;
    font-size: 12px;
    display: none;
}

#invalidCurrPass {
    padding: 5px;
    margin: 0;
    list-style-position: inside;
    padding-left: 10px;
    padding-bottom: 0;
    color: #666;
    font-size: 11pt;
}

.validation-summary-errors {
    margin-bottom: 10px;
}

.validation-summary-errors span {
    color: #555;
}

.validation-summary-errors ul {
    color: #666;
}

.errorCont ul {
    margin: 0;
}

.successAlert {
    float: left;
    width: 170px;
    margin-top: 10px;
    padding: 5px 15px 3px 0;
    text-align: right;
    color: #666666;
    font-size: 12px;
    transition: opacity 300ms ease-out, visibility 300ms ease-out;
    -moz-transition: opacity 300ms ease-out, visibility 300ms ease-out;
    -webkit-transition: opacity 300ms ease-out, visibility 300ms ease-out;
    -ms-transition: opacity 300ms ease-out, visibility 300ms ease-out;
    -o-transition: opacity 300ms ease-out, visibility 300ms ease-out;
}

.settingsItem {
    margin: 0 0 10px 0px;
    width: 550px;
}

.settingsItemTitle {
    border-bottom:1px solid #ccc;
    color: #45688E;
    font-size:15px;
    font-weight: bold;
    margin: 4px 0 15px;
    padding-bottom: 4px;
}

.settingsItem.first {
     margin:  15px 0 10px 0px;
}

.settingsInput {
    padding-bottom: 10px;
}

#currEmail {
   width: 260px;overflow: hidden;padding-top: 4px;color: #555555;
}

#deleteMyProfile {
    margin-top: 25px;
    background: rgba(0,0,0,0.04);
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    color: #555555;
}
